* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.header {
  background-color: #F25C54;
  padding: 10px 100px;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .header {
      display: block;
      padding: 10px 40px; } }
  .header #check {
    display: none; }
    @media (max-width: 960px) {
      .header #check:checked ~ .nav__list {
        display: block; } }
  .header .checkbtn {
    position: absolute;
    top: 25px;
    right: 40px;
    display: none; }
    @media (max-width: 960px) {
      .header .checkbtn {
        display: block; } }
    .header .checkbtn .burger {
      height: 2rem; }
  .header .logo .logo__img {
    height: 3.5rem; }
  .header .nav__list {
    display: flex; }
    @media (max-width: 960px) {
      .header .nav__list {
        display: block;
        height: 100vh;
        padding-top: 50px;
        display: none; } }
    .header .nav__list .nav__item .nav__link {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      margin-left: 20px;
      border-bottom: 1px solid #F25C54; }
      .header .nav__list .nav__item .nav__link:hover {
        border-bottom: 1px solid #fff; }
      @media (max-width: 960px) {
        .header .nav__list .nav__item .nav__link {
          font-size: 2rem;
          line-height: 5rem; }
          .header .nav__list .nav__item .nav__link:hover {
            border-bottom: none; } }

.footer {
  background-color: #F25C54;
  padding: 100px 100px 20px 100px;
  /* width: 100%; */
  color: white;
  z-index: 900; }
  .footer .footer__container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px; }
    @media (max-width: 768px) {
      .footer .footer__container1 {
        flex-wrap: wrap; } }
    .footer .footer__container1 .logo {
      width: 20%;
      height: auto; }
      @media (max-width: 768px) {
        .footer .footer__container1 .logo {
          width: 100%; } }
      .footer .footer__container1 .logo .logo__img {
        width: 8rem; }
    .footer .footer__container1 .newsletter {
      width: 34%;
      height: auto; }
      @media (max-width: 768px) {
        .footer .footer__container1 .newsletter {
          width: 100%; } }
      .footer .footer__container1 .newsletter .footer__title {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif; }
      .footer .footer__container1 .newsletter .footer__text {
        padding: 10px 0;
        font-family: 'Roboto', sans-serif; }
      .footer .footer__container1 .newsletter .submit {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        .footer .footer__container1 .newsletter .submit .newsletter__input {
          width: 80%;
          height: 2.5rem;
          border: none;
          border-radius: 4px 0 0 4px;
          padding-left: 10px; }
        .footer .footer__container1 .newsletter .submit .newsletter__btn {
          border: none;
          border-radius: 0 4px 4px 0;
          height: 2.5rem;
          width: 2.5rem;
          background-color: white;
          cursor: pointer; }
          .footer .footer__container1 .newsletter .submit .newsletter__btn img {
            height: 1.6rem;
            width: auto; }
    .footer .footer__container1 .rrss {
      width: 30%;
      height: auto; }
      @media (max-width: 768px) {
        .footer .footer__container1 .rrss {
          width: 100%;
          margin-top: 20px; } }
      .footer .footer__container1 .rrss .footer__title {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif; }
        @media (max-width: 768px) {
          .footer .footer__container1 .rrss .footer__title {
            font-size: 1rem; } }
      .footer .footer__container1 .rrss .footer__text {
        padding: 10px 0;
        font-family: 'Roboto', sans-serif; }
      .footer .footer__container1 .rrss .rrss__list {
        display: flex; }
        .footer .footer__container1 .rrss .rrss__list .rrss__icons {
          width: 2.5rem;
          margin-right: 10px; }
  .footer .footer__container2 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; }
    .footer .footer__container2 .rights {
      font-size: 0.75rem; }
      @media (max-width: 768px) {
        .footer .footer__container2 .rights {
          font-size: 0.5 rem; } }

.main .hero {
  background-color: #F25C54;
  height: 100vh; }
  .main .hero .hero__img {
    width: 28%;
    position: absolute;
    top: 150px;
    right: 100px; }
  .main .hero .hero__aside {
    width: 60%;
    text-align: left;
    position: absolute;
    top: 35%;
    padding-left: 100px; }
    .main .hero .hero__aside .hero__heading {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1; }
    .main .hero .hero__aside .hero__text {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 300;
      margin: 30px 0; }
    .main .hero .hero__aside .hero__btn {
      display: inline-flex;
      align-items: center;
      background-color: #FFE5DD;
      color: #F25C54;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      background-color: #FFE5DD;
      padding: 20px; }
      .main .hero .hero__aside .hero__btn .arrow {
        height: 1.5rem;
        margin-left: 20px; }
      .main .hero .hero__aside .hero__btn:link, .main .hero .hero__aside .hero__btn :visited {
        color: #F25C54; }
      .main .hero .hero__aside .hero__btn:hover {
        background-color: #fff; }

.main .destacados {
  margin: 150px 100px 150px 100px; }
  .main .destacados .destacados__heading {
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px; }
  .main .destacados .destacados__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
    .main .destacados .destacados__container .card {
      width: 30%; }
      .main .destacados .destacados__container .card .card__img .img {
        width: 100%; }
      .main .destacados .destacados__container .card .card__body {
        font-family: 'Montserrat', sans-serif;
        color: #4E4E4E;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 20px; }
        .main .destacados .destacados__container .card .card__body .card__h3 {
          font-weight: 500;
          font-size: 1rem; }
      .main .destacados .destacados__container .card .card__info {
        margin-top: 60px;
        display: flex;
        justify-content: space-between; }
        .main .destacados .destacados__container .card .card__info .card__cost {
          font-weight: 700; }
        .main .destacados .destacados__container .card .card__info .card__btn {
          display: inline-flex;
          align-items: center;
          text-transform: uppercase; }
          .main .destacados .destacados__container .card .card__info .card__btn:link, .main .destacados .destacados__container .card .card__info .card__btn :visited {
            color: #4E4E4E; }
          .main .destacados .destacados__container .card .card__info .card__btn:hover {
            font-weight: 700; }
          .main .destacados .destacados__container .card .card__info .card__btn .arrow2 {
            height: 1rem;
            margin-left: 10px; }

.main .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px;
  grid-template-areas: "historia productos" "historia visitanos"; }
  @media (max-width: 768px) {
    .main .grid {
      display: flex;
      flex-wrap: wrap; } }
  .main .grid .productos {
    grid-area: productos;
    position: relative;
    display: flex; }
    @media (max-width: 768px) {
      .main .grid .productos {
        width: 100%; } }
    .main .grid .productos .grid__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main .grid .productos .overlay1 {
      position: absolute;
      width: 100%;
      height: 500px;
      background-color: #FFE5DD;
      opacity: 0.6; }
      @media (max-width: 768px) {
        .main .grid .productos .overlay1 {
          width: 100%;
          height: 100%; } }
    .main .grid .productos .btn {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      background-color: #F25C54;
      opacity: 1;
      position: absolute;
      text-transform: uppercase;
      font-weight: 500;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      text-align: center;
      transition: all 0.3s; }
      .main .grid .productos .btn:hover {
        transform: scale(2); }
    .main .grid .productos .btn1 {
      top: 35%;
      left: 250px;
      padding: 3.3rem 20px; }
      @media (max-width: 1200px) {
        .main .grid .productos .btn1 {
          left: 150px; } }
  .main .grid .historia {
    grid-area: historia;
    position: relative; }
    @media (max-width: 768px) {
      .main .grid .historia {
        width: 100%; } }
    .main .grid .historia .grid__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main .grid .historia .overlay2 {
      position: absolute;
      width: 100%;
      height: 1000px;
      background-color: #FCD4B6;
      opacity: 0.6; }
      @media (max-width: 768px) {
        .main .grid .historia .overlay2 {
          width: 100%;
          height: 100%; } }
    .main .grid .historia .btn {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      background-color: #F25C54;
      opacity: 1;
      position: absolute;
      text-transform: uppercase;
      font-weight: 500;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      text-align: center;
      transition: all 0.3s; }
      .main .grid .historia .btn:hover {
        transform: scale(2); }
    .main .grid .historia .btn2 {
      top: 50%;
      left: 250px;
      padding: 4rem 20px; }
      @media (max-width: 1200px) {
        .main .grid .historia .btn2 {
          left: 150px; } }
  .main .grid .visitanos {
    grid-area: visitanos;
    position: relative; }
    @media (max-width: 768px) {
      .main .grid .visitanos {
        width: 100%; } }
    .main .grid .visitanos .grid__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main .grid .visitanos .overlay3 {
      position: absolute;
      width: 100%;
      height: 500px;
      background-color: #F25C54;
      opacity: 0.4; }
      @media (max-width: 768px) {
        .main .grid .visitanos .overlay3 {
          width: 100%;
          height: 100%; } }
    .main .grid .visitanos .btn {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      background-color: #F25C54;
      opacity: 1;
      position: absolute;
      text-transform: uppercase;
      font-weight: 500;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      text-align: center;
      transition: all 0.3s; }
      .main .grid .visitanos .btn:hover {
        transform: scale(2); }
    .main .grid .visitanos .btn3 {
      top: 35%;
      left: 250px;
      padding: 4.5rem 20px; }
      @media (max-width: 1200px) {
        .main .grid .visitanos .btn3 {
          left: 150px; } }

.main__nosotros .nosotros__img {
  margin: 0 100px 0 100px; }
  .main__nosotros .nosotros__img .imgtop {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.main__nosotros .nosotros__container1 {
  margin: 150px auto;
  width: 50%; }
  .main__nosotros .nosotros__container1 .nosotros__title {
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px; }
  .main__nosotros .nosotros__container1 .nosotros__text {
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5; }

.main__nosotros .nosotros__fotos {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 50px 100px; }
  .main__nosotros .nosotros__fotos .imgbottom {
    width: 46%; }

.main__nosotros .nosotros__texto {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 150px; }
  .main__nosotros .nosotros__texto .nosotros__text {
    width: 46%;
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5; }
  .main__nosotros .nosotros__texto .nosotros__cita {
    width: 46%;
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    font-size: 1.5rem;
    font-weight: 500; }
