.footer {
    background-color: $color-primary;
    padding: 100px 100px 20px 100px;
    /* width: 100%; */
    color: white;
    z-index: 900;
    .footer__container1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 50px;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        .logo {
            width: 20%;
            height: auto; 
            @media (max-width: 768px) {
                width: 100%;
            }
            .logo__img {
                width: 8rem;
            }
        }
        .newsletter {
            width: 34%;
            height: auto;
            @media (max-width: 768px) {
                width: 100%;
            }
            .footer__title {
                font-size: 1.2rem;
                font-weight: 500;
                padding: 10px 0;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
            }
            .footer__text {
                padding: 10px 0;
                font-family: 'Roboto', sans-serif;
            }
            .submit {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .newsletter__input {
                    width: 80%;
                    height: 2.5rem;
                    border: none;
                    border-radius: 4px 0 0 4px;
                    padding-left:  10px;
                }
                
                .newsletter__btn {
                    border: none;
                    border-radius: 0 4px 4px 0;
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: white;
                    cursor: pointer;
                    img {
                        height: 1.6rem;
                        width: auto;
                    }
                }
            }
        }
        .rrss {
            width: 30%;
            height: auto;
            @media (max-width: 768px) {
                width: 100%;
                margin-top: 20px;
            }
            .footer__title {
                font-size: 1.2rem;
                font-weight: 500;
                padding: 10px 0;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                @media (max-width: 768px) {
                    font-size: 1rem;
                }
            }
            .footer__text {
                padding: 10px 0;
                font-family: 'Roboto', sans-serif;
            }
            .rrss__list {
                display: flex;
                .rrss__icons {
                    width: 2.5rem;
                    margin-right: 10px;
                }
            }
        }
    }
    .footer__container2 {
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        .rights {
            font-size: 0.75rem;
            @media (max-width: 768px) {
                font-size: 0.5 rem;
            }
        }
    }
}