.main {
    // Sección Hero
    .hero {
        background-color: $color-primary;
        height: 100vh;
        .hero__img {
            width: 28%;
            position: absolute;
            top: 150px;
            right: 100px;
        }
        .hero__aside {
            width: 60%;
            text-align: left;
            position: absolute;
            top: 35%;
            padding-left: 100px;
            .hero__heading {
                font-family: 'Montserrat', sans-serif;
                color: map-get($estilo-h1, color);
                font-size: map-get($estilo-h1, fontsize);
                font-weight: map-get($estilo-h1, fontweight );
                line-height: map-get($estilo-h1, linespace );
            }
            .hero__text {
                font-family: 'Montserrat', sans-serif;
                color: map-get($estilo-h1, color);
                font-size: 1.8rem;
                font-weight: 300;
                margin: 30px 0;
            }
        
            .hero__btn {
                display: inline-flex;
                align-items: center;
                background-color: $color-lightpink;
                color: $color-primary;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                padding: 20px; 
                .arrow {
                    height: 1.5rem;
                    margin-left: 20px;
                }
                &:link, :visited {
                    color: $color-primary;                                   
                }
                &:hover {
                    background-color: #fff;
                }
            }              
        }       
    }
    // Sección destacados
    .destacados {
        margin: 150px 100px 150px 100px;
        .destacados__heading {
            font-family: 'Montserrat', sans-serif;
            color: map-get($estilo-h2, color);
            font-size: map-get($estilo-h2, fontsize);
            font-weight: map-get($estilo-h2, fontweight);
            margin-bottom: 50px;
        }
        .destacados__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;

            .card {
                width: 30%;
                .card__img {
                    .img {
                        width: 100%;
                    }
                }
                .card__body {
                    font-family: 'Montserrat', sans-serif;
                    color: map-get($estilo-h3, color);
                    font-size: map-get($estilo-h3, fontsize);
                    font-weight: map-get($estilo-h3, fontweight);
                    margin-top: 20px;
                    .card__h3 {
                        font-weight: map-get($estilo-h3, fontweight);
                        font-size: map-get($estilo-h3, fontsize);
                    }
                    
                }
                .card__info {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .card__cost {
                        font-weight: 700;
                    }
                    .card__btn {
                        display: inline-flex;
                        align-items: center;                       
                        text-transform: uppercase;                      
                        &:link, :visited {
                            color: $color-darkgray;                                   
                        }
                        &:hover {
                            font-weight: 700;
                        }
                        .arrow2 {
                            height: 1rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    // Sección Grid
    .grid  {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 500px 500px;
        grid-template-areas: 
        "historia productos"
        "historia visitanos";
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
        .productos {
            grid-area: productos;
            position: relative;
            display: flex;
            @media (max-width: 768px) {
                width: 100%;
            }
            .grid__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay1 {
                position: absolute;
                width: 100%;
                height: 500px;
                background-color: $color-lightpink;
                opacity: 0.6;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 100%;
                }
            }
            .btn {
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                background-color: $color-primary;
                opacity: 1;
                position: absolute;
                text-transform: uppercase;
                font-weight: 500;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                text-align: center;
                transition: all 0.3s;
                &:hover {
                    transform: scale(2)
                }
            }
            .btn1 {
                // justify-content: center;
                // align-items: center;
                top: 35%;
                left: 250px;
                padding: 3.3rem 20px;
                @media (max-width:1200px) {
                    left: 150px;
                }
            }
        }
        .historia {
            grid-area: historia;
            position: relative;
            @media (max-width: 768px) {
                width: 100%;
            }
            .grid__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay2 {
                position: absolute;
                width: 100%;
                height: 1000px;
                background-color: $color-skin;
                opacity: 0.6;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 100%;
                }
            }
            .btn {
                font-family: 'Montserrat', sans-serif;;
                color: #fff;
                background-color: $color-primary;
                opacity: 1;
                position: absolute;
                text-transform: uppercase;
                font-weight: 500;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                text-align: center;
                transition: all 0.3s;
                &:hover {
                    transform: scale(2)
                }
            }
            .btn2 {
                top: 50%;
                left: 250px;
                padding: 4rem 20px;
                @media (max-width:1200px) {
                    left: 150px;
                }
            }
        }
        .visitanos {
            grid-area: visitanos;
            position: relative;
            @media (max-width: 768px) {
                width: 100%;
            }
            .grid__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay3 {
                position: absolute;
                width: 100%;
                height: 500px;
                background-color: $color-primary;
                opacity: 0.4;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 100%;
                }
            }
            .btn {
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                background-color: $color-primary;
                opacity: 1;
                position: absolute;
                text-transform: uppercase;
                font-weight: 500;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                text-align: center;
                transition: all 0.3s;
                &:hover {
                    transform: scale(2)
                }
            }
            .btn3 {
                top: 35%;
                left: 250px;
                padding: 4.5rem 20px;
                @media (max-width:1200px) {
                    left: 150px;
                }
            }
        }
       
    } 
}
